@model IEnumerable<QLDaiLy.Models.SanPham>

@{
    ViewBag.Title = "Tìm kiếm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="panel panel-default">
    <div class="panel-heading">DANH SÁCH SẢN PHẨM TÌM ĐƯỢC</div>
    <div class="panel-body">
        @ViewBag.ThongBao
        @foreach (var item in Model)
        {
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="thumbnail">
                    <a href="@Url.Action("Details", "SanPham", new { id = item.MaSP})">
                        <img src="~/Images/@item.HinhAnh" alt="@item.TenSP" style="height:300px;width:300px;">
                    </a>
                    <div class="caption">
                        <h4 class="text-center">
                            <a href="@Url.Action("Details", "SanPham", new { id = item.MaSP })">@item.TenSP</a>
                        </h4>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Trở về danh sách sản phẩm", "Index")
    </div>
</div>


